footer
  p Copyright &copy;  #{new Date().getFullYear()} - Kyle LeNeau  - <a href="http://www.github.com/kyleleneau/ios-bootstrap-site">Fork the source and contribute</a> to this site (it's fun, its made with node!)
