script(type='text/javascript', src='/js/jquery-1.8.1.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/plus.js')
script(type='text/javascript', src='/js/tweet.js')
script(type='text/javascript', src='/js/ga.js')
