extends layout

block scripts
  script(src='/js/generation.js')

block content
  div.row.well-small
    div.span8.offset2
      h2(style="text-align:center") Bootstrap your next iOS Application
  
  div.row     
    div.span7
      img.img-rounded(src='http://placehold.it/520x500')
    
    div.span4
      div
        div.g-plusone
        a.twitter-share-button(href="https://twitter.com/share", data-text="Bootstrap your iOS App with iOS Bootstrap", data-url="https://www.iosbootstrap.com", data-via="kleneau", data-lang="en") Tweet
      
      p iOS Boostrap setups a project and folder structure the way I like.

      div
        h5 Generate Your App Now
        input(id='appName', type='text', placeholder="Your App Name")
        input(id='bundleId', type='text', placeholder="com.your-company-here")
        input(id='classPrefix', type='text', placeholder="Your class prefix (eg. IOB)")

      div
        input(type='submit', value='Generate Your App', id='generate-app', class='btn btn-primary btn-large')

      a(href='http://www.github.com/kyleleneau/ios-bootstrap') Download from GitHub
      div.alert.alert-error.alert-block(style="margin-top:10px")
         <b>Note:</b> Currently application generation is <i>very beta</i>. <a href="https://github.com/kyleleneau/ios-bootstrap-site/issues">Report an issue</a>

  div.row
    div.span4
        h4 Why?
        p To help get new Android applications off the ground quickly with minimal effort. To get an application built with this toolset could easily take 1-3 weeks with developing, debugging and hacking (depending on experience level within the android ecosystem). Android Bootsrap and its app generator eliminates the need for this work.
    div.span4 
        h4 What does app generation do?
        p The app generation process does a brute force replace through the android-bootstrap source code and replaces build artifact names, package names and imports. It also generates the proper file structure for your package and updates account manager settings as well as build settings.
    div.span4
        h4 Why again? 
        p Because its AWEEEESSSOMMMMMEEEE!!!!!